{% extends "base.html" %}
{% load static %}
{% block body %}
{% block content %}

	{% block category %}
	
	<div class="collapse navbar-collapse">
		<!-- menus -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'about' %}">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'gallery' %}">Galerie</a>
			</li>
			
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#">Produits</a>
				<ul class="dropdown-menu">
					{% for post in blog_cat %}
					<!--<li><a class="dropdown-item" href="{% url "category" post.slug %}">{{post.name}}</a></li> -->
					{% endfor %}
					<!--<li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li> -->
					<li><a class="dropdown-item" href="{% url 'produits' %}">Fruits déshydratés</a></li>
					<li><a class="dropdown-item" href="{% url 'produits' %}">Légumes déshydratés</a></li>
					<li><a class="dropdown-item" href="{% url 'produits' %}">Cosmétiques</a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'contact' %}">Contact</a>
			</li>
		</ul>
	</div>
	{% endblock category %}
	<!-- section main content -->
	<section class="main-content">
		<div class="container-xl">
			<h3 class="bg-dark text-center text-white">PRODUITS NATURELS</h3>
			<h1 style="text-align: center;">PAGE EN CONSTRUCTION</h1>
		</div>
		
	</section>


{% endblock content %}
{% endblock body %}